/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
}

.crud-container {
  position: relative;
  width: 100%;
}


/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 100px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 100px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

/* .search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}

.search label ion-icon {
  position: absolute;
  top: 11px;
  left: 10px;
  font-size: 1.2rem;
} */

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ======================= Cards ====================== */
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.cardBox .card {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--blue);
}

.cardBox .card .cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardBox .card .iconBx {
  font-size: 3.5rem;
  color: var(--black2);
}

.cardBox .card:hover {
  background: var(--blue);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: var(--white);
}

/* ================== Order Details List ============== */
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  /* margin-top: 10px; */
}

.details .companyDetail {
  position: relative;
  max-height: 500px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  overflow-y: scroll;
}

.companyDetail .company-banner {
  object-fit: cover;
  max-width: 100%;
}

.companyDetail h2 {
  font-weight: 600;
  color: var(--blue);
}

.cardHeader h2 {
  font-weight: 600;
  color: var(--blue);
}

.data-wrapper {
    display: flex;
    margin-top: 15px;
    height: 42px;
    border-radius: 30px;
    border:var(--bs-border-color-translucent) 2px solid;
}
.data-wrapper .topic, .data-wrapper .content {
    display:inline-block;
    line-height: 2.25rem;
}

.data-wrapper .topic {
    text-align: center;
    position: relative;
    flex:0 0 20%;
}
.data-wrapper .topic::after {
    content:"";
    right:-5px;
    width: 1px;
    height: 100%;
    position:absolute;
    background: var(--bs-border-color-translucent);
    transform: rotate(-5deg);

    
}
.data-wrapper .content {
    text-align: start;
    padding-left: 15px;
    flex:0 0 80%;
}

.products {
  position: relative;
  display: grid;
  max-height: 500px;
  padding: 20px;
  background: var(--white);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  height: 500px;
  overflow-y: scroll;
}


.titlecard {
    height: 112px;
    border-top-left-radius: 30px;
    border:var(--bs-border-color-translucent) 2px solid;
    display: flex;
    align-items: flex-end;
    position: relative; 
    overflow: hidden;
    z-index: 1;
}
.titlecard {
    cursor: pointer;
}

.products .products-control{
    height: 35%;
    width: 100%;
    color: white;
    background:rgba(0,0,0,.5);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.products-items img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.products .products-control h4{
    color: white!important;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.5rem;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding-left:15px;
}
.products-summary {
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-left:rgb(185, 177, 177) 4px solid;
    border-right:rgb(185, 177, 177) 4px solid;
    border-bottom:rgb(185, 177, 177) 4px solid;
    display: flex;
    justify-content: space-between; 
    height: 0;
    opacity: 0;
    overflow-y: hidden;
    transition: .3s;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
}
.products-summary.open {

    height:48px;
    opacity: 1;
    
}
.products-summary h5 {
    line-height: 2.2rem;
    font-size:1vw;
}
.products-summary h5:first-child{
  padding-left: 15px;
}
.products-summary span {
  padding-left: 2px;
}
.products-summary a {
    font-size: 1.5rem;
    color:white !important;
    text-decoration: none;
    padding-left: 15px;
    flex:0 0 80px;
    transition: .5s;
}




/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
  .products .products-summary h5 {
    font-size: 1.2vw !important;  
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .companyDetail {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
  .products .products-summary h5 {
    font-size: 1em !important;  
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
   /*減小product-summary的字體*/
   .products .products-summary h5 {
    padding-top: 5px;
    font-size: .8rem !important;  
    line-height: 1;
  }
  .products .products-summary a {
    font-size: .7em !important;
    padding:10px 0 0 5px;
    flex: 0 0 40px;
  }

}
