  /* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.crud-container {
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 100px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 100px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.details {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-rows:1fr;
  grid-gap: 30px;
  /* margin-top: 10px; */
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  overflow-y: scroll;
}
.current-trips,.old-trips {
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;

}


/* ================== trip-event-cards ============== */
.titlecard {
  height: 112px;
  border-top-left-radius: 30px;
  border:var(--bs-border-color-translucent) 2px solid;
  display: flex;
  align-items: flex-end;
  position: relative; 
  overflow: hidden;
  cursor: pointer;
}

.titlecard .products-control{
  height: 35%;
  width: 100%;
  color: white;
  background:rgba(0,0,0,.5);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.titlecard .titlecard-banner {
object-fit: cover;
position: absolute;
width: 100%;
height: 100%;
z-index: 1;
}

.products .products-control h4{
  color: white!important;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.5rem;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding-left:15px;
}
.products-summary {
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-left:rgb(185, 177, 177) 4px solid;
  border-right:rgb(185, 177, 177) 4px solid;
  border-bottom:rgb(185, 177, 177) 4px solid;
  height: 0;
  opacity: 0;
  overflow-y: scroll;
  transition: .3s;
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
}
/* ====================== 分配格線↓ ========================== */

.products-summary.open {
  height:500px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 3fr .5fr;
  grid-template-areas: 
            "data users"
            "data btns";
  opacity: 1;
}
.product-data {
  grid-area: data;
  border-right: 1px solid rgb(185, 177, 177);
}
.users-data {
  grid-area: users;
  border-bottom: 1px solid rgb(185, 177, 177);
}
/* ====================== 分配格線↑ ========================== */
.tags div {
  display: inline-block;
  color: var(--white);
  background-color:gray;
  font-weight: bold;
  border-radius: 2px;
  padding: 5px;
  margin: 2px 2px;
}
.crudBtns {
  grid-area: btns;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.crudBtns ::after {
  position: absolute;
  left: 0;
  bottom: 16px;
  content:"";
  width: 100%;
  border-bottom: 1px solid rgb(185, 177, 177);
}
.crudBtns a {
  margin: 8px;
  align-self: flex-start;
  text-decoration: none;
}
.product-data img {
  width: 100px;
  height: 100px;
}
/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-rows: 1fr;
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-rows: 1fr 1fr;
  }
  .products-summary.open {
    grid-template-rows: 4fr 2fr 1fr;
    grid-template-areas: "data" "users" "btns";
    grid-template-columns: 1fr;
    overflow-y: scroll;
  }
  .product-data {
    border: none;
  }
  .crudBtns {
    border-top: 1px solid rgb(185, 177, 177);
  }
  .crudBtns a {
    margin: 8px;
    font-size: 2rem;
    align-self: center;
    text-decoration: none;
  }
  .crudBtns ::after {
    bottom: 0;
  }
  .users-data {
    border-bottom: none;
  }
}

@media (max-width: 480px) {
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}
